@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.25;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  margin: 24px 0;
  color: hsl(from rgb(36, 62, 99) h s l);
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  display: flex;
  width: 60%;
  color: #7c8ba1;
  text-align: center;
}

/* 

NAVBAR ↓

*/

#landing {
  padding: 0 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo__img {
  width: 40px;
  height: 40px;
}

.nav__logo__title {
  font-size: 26px;
  font-weight: 900;
  margin-left: 12px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: #243e63;
  font-weight: 600;
  font-size: 16px;
  margin: 0 24px;
  cursor: pointer;
}

.login {
  margin-left: 48px;
}

.nav__link__primary {
  color: #ffffff;
  padding: 12px 32px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  width: auto;
  border: none;
  transition: background 0.3s ease;
}

.nav__link__primary:hover {
  background: #4b0fcc;
}

/* 

HOVER EFFECTS

*/

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  right: 0;
  transition: width 0.3s ease;
  background-color: #6415ff;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

/* 

MENU BUTTON

*/

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu__svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link__primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu__open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu__close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  flex: wrap;
  flex-direction: row;
  margin: 0 auto;
}
.header__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.header__figure-wrapper {
  display: flex;
  width: 60%;
  margin-left: 32px;
}

.header__figure__img {
  width: 100%;
}

.header__description__title {
  font-size: 36px;
  font-weight: 800;
  color: black;
  line-height: 1.5;
}

.header__description__para {
  font-size: 17px;
  width: 100%;
  color: #4a5568;
  margin: 32px 0;
}

.header__description__email-form {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(160, 174, 192, 0.5);
  border-radius: 9999px;
  padding: 16px;
}

.header__description__email-input {
  border: none;
  outline: none;
  width: 60%;
  font-size: 16px;
  padding-left: 8px;
  color: #a0aec0;
}

.header__description__email-input::placeholder {
  color: #a0aec0;
  opacity: 0.7;
}

.header__description__email-btn {
  color: #ffffff;
  padding: 12px 32px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  width: auto;
  border: none;
  transition: background 0.3s ease;
  width: 40%;
}

.header__description__email-btn:hover {
  background: #4b0fcc;
}

.header__description__customers {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.header__description__customers-para {
  font-size: 12px;
  width: 100%;
  font-weight: bold;
  color: #a0aec0;
  margin: 80px 0 8px 0;
}
.header__description__customers-logo {
  display: flex;
  width: 80%;
  opacity: 0.7;
}
/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 40px;
}
.feature {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 16px;
  width: calc(100% / 3);
}

.feature__img {
  border: 2px solid #e2e8f0;
  border-radius: 9999px;
  padding: 8px;
}

.feature__description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: left;
  margin-left: 16px;
}

QUALITY WORK ↓ */ #quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.quality__description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 24px;
}

.quality__para {
  text-align: left;
  line-height: 1.625;
  margin: 0 0 32px 0;
  width: 100%;
}

.quality__img-wrapper {
  position: relative;
  display: flex;
  align-self: center;
  height: 50%;
  width: 50%;
  margin: 0 72px;
  border: 1px solid #a0aec0;
  border-radius: 4px;
  z-index: 2;
}

.quality__img {
  width: 100%;
  z-index: 1;
}

.img-br-corner {
  position: absolute;
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  bottom: 8px;
  right: 8px;
  font-size: 100px;
  color: #6415ff;
  z-index: 0;
}

.img-tl-corner {
  position: absolute;
  transform: translateX(-50%) translateY(-50%) scaleX(1) scaleY(1);
  top: 8px;
  left: 10px;
  font-size: 100px;
  color: #6415ff;
  z-index: 0;
}

.quality__description .section__tag {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.quality__description .section__title {
  text-align: left;
  margin: 16px 0;
}

.quality__description-para {
  font-size: 17px;
  width: 80%;
  color: #4a5568;
  margin-bottom: 32px;
}

.quality__description-btn {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 16px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  border: none;
  width: 35%;
  transition: background 0.3s ease;
}

.quality__description-btn:hover {
  background: #4b0fcc;
}

/* 

STEPS 

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.steps__img-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.steps__img {
  width: 100%;
  z-index: 1;
}

.img-bt1 {
  position: absolute;
  font-size: 150px;
  color: #6415ff;
  top: 50px;
  left: 1px;
  z-index: 0;
}

.steps__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  padding-left: 64px;
}

.step__list {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
  flex-wrap: nowrap;
}

.step__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
}

.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.step__title {
  font-weight: 600;
  font-size: 20px;
  color: #243e63;
  line-height: 1;
}

.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
  width: 80%;
}
/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.values__description {
  width: 50%;
  padding: 32px 64px 32px 0;
}

.values__para {
  text-align: left;
  line-height: 1.625;
  margin: 0 0 32px 0;
  width: 100%;
}

.values__img--wrapper {
  display: flex;
  width: 50%;
}

.values__img {
  width: 100%;
}

.values__list {
  display: flex;
}

.value {
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-right: 32px;
}

.value__title {
  display: flex;
  align-items: center;
}

.value__icon--wrapper1 {
  border: none;
  background-color: #9ae6b4;
  border-radius: 9999px;
  padding: 8px;
}

.value__icon--wrapper2 {
  border: none;
  background-color: #feb2b2;
  border-radius: 9999px;
  padding: 8px;
}

.value__icon {
  font-size: 24px;
  align-items: center;
}

.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}

.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}

.values__description-btn {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 16px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  border: none;
  margin-top: 48px;
  width: 30%;
  transition: background 0.3s ease;
}

.values__description-btn:hover {
  background: #4b0fcc;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__para {
  text-align: center;
}

.plans {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 40px;
}

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  max-width: 350px;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 9px;
  transition: all 0.3s ease;
}

.plan:hover {
  transform: scale(1.01);
  box-shadow: rgb(56, 178, 172) 5px 8px 15px 1px;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border: transparent;
}

.plan:nth-child(2):hover {
  box-shadow: rgb(102, 126, 234) 5px 8px 15px 1px;
}

.plan:nth-child(2) .plan__top,
.plan:nth-child(2) .plan__middle {
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__audience,
.plan:nth-child(2) .plan__feature,
.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__length {
  color: #ffffff;
}

.plan:nth-child(3):hover {
  box-shadow: rgb(245, 101, 101) 5px 8px 15px 1px;
}

.plan__stripe {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.plan:nth-child(1) .plan__stripe {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(3) .plan__stripe {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 16px;
  border-bottom: 1px solid #e2e8f0;
}

.plan__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 16px;
  border-bottom: 1px solid #e2e8f0;
}

.plan__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 16px;
}

.plan__name {
  font-size: 20px;
  font-weight: bold;
  color: #1a202c;
  line-height: 1.625;
}

.plan__price {
  font-size: 48px;
  font-weight: bold;
  color: black;
  margin: 16px 0;
}

.plan__length {
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
}

.plan__audience {
  font-size: 20px;
  font-weight: bold;
  color: #1a202c;
  line-height: 1.625;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__btn {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 9999px;
  border: none;
  width: 60%;
  transition: all 0.3s ease;
}

.plan__btn:hover {
  opacity: 0.9;
  transform: scale(1.01) translateY(-2px) translateX(2px);
}

.plan:nth-child(1) .plan__btn {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) .plan__btn {
  color: rgb(76, 81, 191);
  background: white;
}

.plan:nth-child(3) .plan__btn {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
