@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 80px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.25;
}

/* 

NAVBAR ↓

*/

#landing {
  padding: 0 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-size: 26px;
  font-weight: 900;
  margin-left: 12px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: #243e63;
  font-weight: 600;
  font-size: 16px;
  margin: 0 24px;
  cursor: pointer;
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  color: #ffffff;
  padding: 12px 32px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  width: auto;
  border: none;
  transition: background 0.3s ease;
}

.nav__link--primary:hover {
  background: #4b0fcc;
}

/* 

HOVER EFFECTS

*/

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  right: 0;
  transition: width 0.3s ease;
  background-color: #6415ff;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

/* 

MENU BUTTON

*/

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  flex: wrap;
  flex-direction: row;
  margin: 0 auto;
}
.header__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.header__figure-wrapper {
  display: flex;
  width: 60%;
  margin-left: 32px;
}

.header__figure--img {
  width: 100%;
}

.header__description--title {
  font-size: 36px;
  font-weight: 800;
  color: black;
  line-height: 1.5;
}

.header__description--para {
  font-size: 17px;
  width: 100%;
  color: #4a5568;
  margin: 32px 0;
}

.header__description--email-form {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(160, 174, 192, 0.5);
  border-radius: 9999px;
  padding: 16px;
}

.header__description--email-input {
  border: none;
  outline: none;
  width: 60%;
  font-size: 16px;
  padding-left: 8px;
  color: #a0aec0;
}

.header__description--email-input::placeholder {
  color: #a0aec0;
  opacity: 0.7;
}

.header__description--email-btn {
  color: #ffffff;
  padding: 12px 32px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  width: auto;
  border: none;
  transition: background 0.3s ease;
  width: 40%;
}

.header__description--email-btn:hover {
  background: #4b0fcc;
}

.header__description--customers {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.header__description--customers-para {
  font-size: 12px;
  width: 100%;
  font-weight: bold;
  color: #a0aec0;
  margin: 80px 0 8px 0;
}
.header__description--customers-logo {
  display: flex;
  width: 80%;
  opacity: 0.7;
}
/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 40px;
}
.feature {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 16px;
  width: calc(100% / 3);
}

.section--tag {
  font-size: 18px;
  font-weight: 600;
}

.section--title {
  font-size: 40px;
  text-align: center;
  margin: 24px 0;
}

.section--para {
  display: flex;
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: #7c8ba1;
  text-align: center;
}

.feature--img {
  border: 2px solid #e2e8f0;
  border-radius: 9999px;
  padding: 8px;
}

.feature--description {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: left;
  margin-left: 16px;
}

.feature--title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.feature--para {
  font-size: 16px;
  color: #7c8ba1;
}

/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.quality--description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 24px;
}

.quality--img-wrapper {
  position: relative;
  display: flex;
  align-self: center;
  height: 50%;
  width: 50%;
  margin: 0 72px;
  border: 1px solid #a0aec0;
  border-radius: 4px;
  z-index: 2;
}

.quality--img {
  width: 100%;
  z-index: 1;
}

.img-br-corner {
  position: absolute;
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  bottom: 8px;
  right: 8px;
  font-size: 100px;
  color: #6415ff;
  z-index: 0;
}

.img-tl-corner {
  position: absolute;
  transform: translateX(-50%) translateY(-50%) scaleX(1) scaleY(1);
  top: 8px;
  left: 10px;
  font-size: 100px;
  color: #6415ff;
  z-index: 0;
}

.quality-description--tag {
  font-size: 18px;
  font-weight: 600;
}

.quality--description-title {
  font-size: 36px;
  font-weight: 800;
  color: black;
  line-height: 1.5;
  margin: 16px 0;
}

.quality--description-para {
  font-size: 17px;
  width: 80%;
  color: #4a5568;
  margin-bottom: 32px;
}

.quality--description-btn {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  padding: 12px 16px;
  cursor: pointer;
  background: #6415ff;
  border-radius: 9999px;
  border: none;
  width: 35%;
  transition: background 0.3s ease;
}

.quality--description-btn:hover {
  background: #4b0fcc;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
